          <md-dialog aria-label="List dialog">
             <md-dialog-content>
               <div layout="row">
                 <md-input-container>
                    <label>Title</label>
                    <input ng-model="dctrl.title" type="text">
                  </md-input-container>
             
                   <md-input-container>

                    <label>Description</label>
                    <input ng-model="dctrl.description" type="text">
                  </md-input-container>
                  <md-input-container>
                    <md-datepicker ng-model="dctrl.date" md-placeholder="Enter date"></md-datepicker>
                  </md-input-container>
                </div layout>
                <div layout="row">
                  <md-input-container>
                    <md-select ng-model="dctrl.priority" placeholder="Enter Priority">
                      <md-option>
                        {{dctrl.priorities.highpriority}}
                      </md-option>
                      <md-option>
                        {{dctrl.priorities.lowpriority}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div layout>
            

                  
                 
               
             </md-dialog-content>
             <md-dialog-actions>
               <md-button ng-click="dctrl.closeDialog()" class="md-primary">
                 Close Dialog
               </md-button>
               <md-button ng-click="dctrl.createTask(dctrl.title,dctrl.description,dctrl.priority,dctrl.date)" class="md-primary">
                 Insert
               </md-button>
             </md-dialog-actions>
           </md-dialog>